<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center logo" routerLink="">
        <img src="https://images.vexels.com/media/users/3/156748/isolated/lists/668a778c717f90981b361e1b395a2f12-icone-de-tacada-de-hamburguer.png" alt="icone hamburguer" width="10%" class="me-2">
        <p class="mb-0">BURGUER MANIA</p>
    </a>       
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cardapio" routerLinkActive="active-link">Categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cardapio" routerLinkActive="active-link">Cardápio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link">Locatização</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
