<div class="container mt-4 mb-5">
    <h1 class="text-center">X-VEGAN</h1>
    <div class="row d-flex justify-content-center" style="margin-top: 150px;">
        <div class="col-lg-4" *ngFor="let fd of foodData">
            <div class="foodbox">
                <a *ngIf="fd.id !== 5 && fd.id !== 6" [routerLink]="['/cardapio', fd.id]">
                    <div class="food-content">
                        <img src="{{fd.foodImg}}" />
                        <h2>{{fd.foodName}}</h2>
                        <p>{{fd.foodDetails}}</p>
                    </div>
                </a>
                <div *ngIf="fd.id === 5 || fd.id === 6">
                    <div class="food-content">
                        <img src="{{fd.foodImg}}" />
                        <h2>{{fd.foodName}}</h2>
                        <p>{{fd.foodDetails}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-ver-cardapio-completo></app-ver-cardapio-completo>